.footer {
  margin-top: 25rem;
  position: relative;
  bottom: 0;
}

footer {
  background-color: #212121;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-evenly;
  .logo {
    width: 15rem;
    img {
      width: 100%;
      padding: 0 0 2rem 0;
    }
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    padding: 0 5rem 2rem 5rem;

    .column {
      width: 15rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }
    //   align-items: center;
    h3 {
      color: #747d87;
      text-transform: capitalize;
    }
    .ul {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      .li {
        text-transform: capitalize;
        list-style: none;
        color: #fff;
        font-weight: 100;
        font-size: 0.8rem;
        &:hover {
          cursor: pointer;
          color: #fcb900;
        }
      }
    }
  }
  @media only screen and (max-width: 850px) {
    .lower-footer {
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      justify-content: center;
    }
  }
  .lower-footer {
    padding: 2rem 0;
    color: #747d87;
    border-top: 1px solid #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    .contact {
      font-size: 1.5rem;
    }
    .social {
      display: flex;
      gap: 0.6rem;
      .icon {
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #fff;
        color: #fff;
        border-radius: 50%;
        &:hover {
          background-color: #fff;
          color: #285ae6;
          cursor: pointer;
        }
      }
    }
  }
}
