.main-section {
  width: 100%;
  background-image: linear-gradient(
    to right bottom,
    #c1daff,
    #d5e2ff,
    #e6ebff,
    #f4f4ff,
    #ffffff
  );
  .section-1 {
    display: flex;
    width: 90vw;
    height: 100%;
    margin: auto;
    padding: 1rem 0;
    @include res(desk-sm) {
      display: flex;
    }
    @include res(tab-lg) {
      display: flex;
      flex-direction: column;
    }
    .content {
      -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
      border-radius: 1rem;
      padding: 3rem;
      position: relative;
      bottom: 1rem;
      background-color: #fff;
      max-height: 70%;
      min-width: 80%;
      max-width: 90vw;
      margin-top: 1.5rem;
      z-index: 10;
    }

    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      @include res(tab) {
        font-size: 2rem;
      }
    }
    p {
      font-size: 1.2rem;
      margin-bottom: 1rem;
      @include res(tab) {
        font-size: 1rem;
      }
    }
    ul {
      li {
        list-style: square;
        margin-bottom: 2rem;
        h2 {
          font-size: 1.5rem;
          @include res(tab) {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  .img {
    position: sticky;
    right: 2rem;
    min-width: 80%;
    min-height: 100%;
    border-radius: 1rem;

    img {
      border-radius: 1rem;
      min-height: 100%;
      width: 100%;

      object-fit: cover;
      @include res(desk-sm) {
        height: 600px;
      }
      @include res(tab-lg) {
        height: 20rem;
      }
    }
  }
}
