.hero {
  height: 80vh;
  min-width: 100vw;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .content {
    display: flex;
    gap: 1rem;
    width: 80%;
    color: #fff;
    position: relative;
    bottom: 30rem;
    left: 5rem;
    @include res(tab-sm) {
      bottom: 35rem;
    }
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.2rem;
    }
    button {
      width: fit-content;
    }
    .content-text{     
      h1{
        margin-bottom: 1rem;
      }
      p{
        margin-bottom: 1rem;
      }
    }

    .content-image{
      img{
        width: 350px;
      }
    }
  }
}
