.hero {
  height: 45rem;
  min-width: fit-content;
  min-width: 100vw;
  .content-image {
    position: relative;
    bottom: 10rem;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .content {
    display: flex;
    gap: 1rem;
    width: 80%;
    height: 100%;
    color: #fff;
    position: relative;
    bottom: 30rem;
    left: 5rem;
    @media only screen and (max-width: 900px) {
      flex-direction: column;
      .content-text {
        position: relative;
        bottom: 15%;
      }
      .content-image {
        position: relative;
        bottom: 5rem;
        max-width: 10rem;
        img {
          max-width: 100%;
          object-fit: contain;
        }
      }
    }

    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.2rem;
    }
    button {
      width: fit-content;
    }
    .content-text {
      h1 {
        margin-bottom: 1rem;
      }
      p {
        margin-bottom: 1rem;
      }
    }

    .content-image {
      width: 50%;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
}
