.homePage-postHero {
  background-color: rgb(1, 0, 10);

  // background-color: black;
  &-content {
    margin: auto;
    width: 95vw;
  // background-image: "../../../../images/homepage-comp-bg.jpg";
  position: relative;
  bottom: 5rem;
    @media only screen and (max-width: 700px) {
      flex-direction: column;
      &-item {
        min-width: 100%;
      }
    }
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1rem;
    margin: auto;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    &-item {
      display: flex;
      width: 30%;
      text-align: center;
      padding: 1rem;
      &-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        h2 {
          margin-bottom: 1rem;
          font-size: 1.2rem;
        }
        div{
          display: flex;
          font-weight: 800;
          line-height: 15px;
          color: rgb(77, 77, 244);
        }
      }
      &-image {
        width: 90%;
        @media only screen and (max-width: 1100px) {
          display: none;
        }
        img {
          // width: 100%;
          // object-fit: contain;
          width: 80px;
        }
      }
    }
  }
}
