

.HomePageHeroComp {
  width: 100%;
  background-size: cover;
  h1 {
    color: white;
    padding: 1rem 0;
    text-align: center;
  }

  &-content {
    padding: 2rem;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    &-card {
      width: 400px;
      padding: 1rem;
      margin: 1rem 2rem;
      background: transparent;
      img {
        margin-bottom: 1.5rem;
      }
      h2 {
        display: flex;
        color: white;
        margin-bottom: 1.5rem;
        line-height: 25px;
      }
      ul {
        li {
          color: gray;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
