* {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  ::-webkit-scrollbar {
    display: none;
  }
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

// <<=====Components=====>>
@import "./components/header/header.scss";
@import "./components/footer/footer.scss";

//<<=====Variables=====>>
@import "./components/global/variables/variables.scss";

//<<=====Button=====>>
@import "./components/UI/Button/Button.scss";

//<<=====UI=====>>
@import "../styles/components/UI/UI/Hero.scss";
@import "../styles/components/UI/UI/PostHero.scss";
@import "../styles/components/UI/UI/FirstSection.scss";
@import "../styles/components/UI/UI/SecondSection.scss";
@import "../styles/components/UI/UI/Services.scss";
@import "../styles/components/UI/UI/Overview.scss";
@import "../styles/components/UI/UI/Resources.scss";
@import "../styles/components/UI/UI/PreFooter.scss";
