.btn-yellow {
  padding: 0.5rem 2rem;
  font-size: 0.8rem;
  text-transform: capitalize;
  border: 0;
  border-radius: 10px;
  background-color: #fcb900;
}

.btn-black {
  background-color: #000;
  color: #fff;
  padding: 0.4rem 1.9rem;
  font-size: 0.8rem;
  text-transform: capitalize;
  border: 2px solid #fff;
  border-radius: 10px;
}
